// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import './components/switch';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.invalid-feedback {
  display: none;
}

.form-control.date[readonly] {
  background-color: transparent;
}

.invalid-feedback{
  display: block;
}
