*
!templates/tickets_template.csv
!templates/delegates_template.xlsx
!public/
!events/
!files/
!countries.json
!names_female.json
!names_male.json
!.gitignore


2 modules / files
legacy once per day -> output id and deparemnt code
to go 2 desitnation 



